In [ ]:
#Exercicio 1

import pandas as pd

abrir = pd.read_excel("best-selling game consoles.xlsx",
                       sheet_name="consoles")

print("Quantidade de Consoles: ",abrir['Console Name'].count())

Quantidade de Consoles:  51

In [39]:
#Exercicio 2

contagem = abrir['Company'].value_counts()

consoles = contagem.sort_values(ascending=False)

print(consoles)

Company
Nintendo                   17
Sony                        7
Sega                        7
Microsoft                   4
Atari                       4
Tectoy                      2
Coleco                      2
NEC/Hudson Soft[note 6]     1
Micro Genius                1
Mattel                      1
Bandai                      1
Nokia                       1
Magnavox/Philips            1
NEC                         1
Philips                     1
Name: count, dtype: int64

In [70]:
#Exerc√≠cio 3
abrir2=pd.read_csv('company.txt')

combinacao = pd.merge(consoles, abrir2[['Company', 'Market Value']], on='Company', how='left')

print(combinacao)

                    Company  count  Market Value
0                  Nintendo     17         22615
1                      Sony      7          7177
2                      Sega      7         10391
3                 Microsoft      4          3154
4                     Atari      4          4160
5                    Tectoy      2          2538
6                    Coleco      2           767
7   NEC/Hudson Soft[note 6]      1           547
8              Micro Genius      1           689
9                    Mattel      1           548
10                   Bandai      1           913
11                    Nokia      1           637
12         Magnavox/Philips      1           693
13                      NEC      1           387
14                  Philips      1           899

In [71]:
#Exercicio 4

med_market_value=combinacao['Market Value'].mean()

print(med_market_value)

3741.0