In [19]:
import pandas as pd 
import requests
from plyer import notification
from datetime import datetime

In [31]:
url = 'https://brasilapi.com.br/api/fipe/marcas/v1/{tipoVeiculo}'
response = requests.get(url)
response

In [ ]:
def alerta(response):
    if response.status_code==400:
       titulo="Algo esta errado:"
       resultado ="Bad Request"
    else:
        titulo="Requisicao bem sucedida"
        resultado="OK"
        

    data_atual=datetime.now().strftime("%d/%m/%Y %H:%M:%S")

    msg=f"Status da requisição {resultado}. \nData: {data_atual}"
    
    notification.notify(
    title=titulo,
    message=msg,
    app_name="Base de dados: Tabela FIPE", timeout=10)
    
    
alerta(response)

data_json=response.json()

In [27]:
url = 'https://brasilapi.com.br/api/fipe/preco/v1/{codigoFipe}'
response1 = requests.get(url)
response1

In [ ]:
def alerta(respons1):
    if response1.status_code==400:
       titulo="Algo esta errado:"
       resultado ="Bad Request"
    else:
        titulo="Requisicao bem sucedida"
        resultado="OK"
       

    data_atual=datetime.now().strftime("%d/%m/%Y %H:%M:%S")

    msg=f"Status da requisição {resultado}. \nData: {data_atual}"
    
    notification.notify(
    title=titulo,
    message=msg,
    app_name="Base de dados: Tabela FIPE", timeout=10)
    
    
alerta(response1)

data_json=response1.json()

In [32]:
url = 'https://brasilapi.com.br/api/fipe/tabelas/v1'
response2 = requests.get(url)
response2

In [41]:
def alerta(respons2):
    if response2.status_code==400:
       titulo="Algo esta errado:"
       resultado ="Bad Request"
    else:
        titulo="Requisicao bem sucedida"
        resultado="OK"
       

    data_atual=datetime.now().strftime("%d/%m/%Y %H:%M:%S")

    msg=f"Status da requisição {resultado}. \nData: {data_atual}"
    
    notification.notify(
    title=titulo,
    message=msg,
    app_name="Base de dados: Tabela FIPE", timeout=10)
    
    
alerta(response2)
 
data_json=response2.json()

In [ ]:
data_json

In [43]:
pd.DataFrame(data_json)

     codigo             mes
0       315  novembro/2024
1       314   outubro/2024
2       313  setembro/2024
3       312    agosto/2024
4       311     julho/2024
..      ...             ...
282       8   janeiro/2006
283       7    agosto/2005
284       6  novembro/2005
285       2   outubro/2005
286       1  setembro/2005

[287 rows x 2 columns]